body {
  font-family: 'Fredoka One', cursive;
}

.screen {
  display: none;
}

#leaderboardList li {
  display: flex;
  justify-content: space-between;
  background-color: #f9fafb;
  border-radius: 0.375rem;
  padding: 0.5rem;
  font-weight: bold;
}

#scanStatus {
  font-size: 1.25rem;
  font-weight: 500;
}

button {
  transition: background-color 0.2s ease;
}

canvas {
  display: block;
  margin: auto;
}
